

$blue:blue;

.container{

    h1{
        font-size:30px;
        &.title{
            color:$blue;
        }
        &:hover{
            color:#ddd;
        }
    }

    h1.title{
        color:$blue;
    }
    h1:hover{
        color:$blue;
    }

    h2{
        font-size:18px;
        
    }
}
